
/* Login form */
.form-group input{
    border-color: #D9D9D9;
}
.form-group button{
    background-color: #DBB04F;
    color: #000;
    border-radius: 40px;
}

.btn-checkout{
    background-color: #4AC0C7;
}

.btn-checkout:hover{
    background-color: #48abb1;
}

.btn-extend{
    background-color: #000;
    color: #DBB04F;
    font-weight: 800;
    padding-left: 35px;
    padding-right: 35px;
}
.btn-extend:hover{
    background-color: #000;
    color: #fff;
    font-weight: 800;
   
}

.btn-print{
    background-color: #000;
    color: #DBB04F;
    font-weight: 800;
    padding-left: 55px;
    padding-right: 55px;
}
.btn-print:hover{
    background-color: #000;
    color: #fff;
    font-weight: 800;
   
}

.submit-btn{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #DBB04F;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.submit-btn:hover{
    color: #fff;
    background-color: #DBB04F;
}
.cancel-btn:hover{
    color: #fff;
    background-color: #8b0909;
}

.cancel-btn{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FF3E3E;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}






/* End Login form */

/* Legenda */
.kotak-kecil-biru{
    width: 20px; /* Lebar kotak */
    height: 20px; /* Tinggi kotak */
    background-color: #2563ff; /* Warna latar belakang kotak */
    border: 1px solid #000; /* Garis tepi kotak */
}
.kotak-kecil-hijau{
    width: 20px; /* Lebar kotak */
    height: 20px; /* Tinggi kotak */
    background-color: #4ec640; /* Warna latar belakang kotak */
    border: 1px solid #000; /* Garis tepi kotak */
}
.kotak-kecil-kuning{
    width: 20px; /* Lebar kotak */
    height: 20px; /* Tinggi kotak */
    background-color: #dbcc6c; /* Warna latar belakang kotak */
    border: 1px solid #000; /* Garis tepi kotak */
}
.kotak-kecil-merah{
    width: 20px; /* Lebar kotak */
    height: 20px; /* Tinggi kotak */
    background-color: #ff6767; /* Warna latar belakang kotak */
    border: 1px solid #000; /* Garis tepi kotak */
}
/* End Legenda */


/*  --------------------   CONTENTS OF ADMIN PAGE     --------------------- */

.nav-bg{
    background-color: #000;
}


.bg-card{
    background-color: #DBB04F;
}


#normal-checkin .standard-single a{
    padding: 30px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
#normal-checkin .standard-twin a{
    padding: 30px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
#normal-checkin .premium-bed a{
    padding: 30px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

#normal-checkin h2{
    color: #000;
    font-size: 28px;
    font-weight: bolder;
}
#normal-checkin h6{
    font-size: 12px;
}

#normal-checkin .shape{
    background: rgba(219, 176, 79, 0.2);
}



/* .nav-item.active {
    background-color: #DBB04F;
} */

/*  --------------------   END OF ADMIN PAGE          ---------------------*/        